### Import Libraries and Packages

In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('/content/train.csv')[['Age','Pclass','Fare','Survived']]
df.sample(5)

      Age  Pclass     Fare  Survived
198   NaN       3   7.7500         1
731  11.0       3  18.7875         0
818  43.0       3   6.4500         0
641  24.0       1  69.3000         1
116  70.5       3   7.7500         0

In [3]:
# Find Percentage of Missing Values
df.isnull().mean() * 100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [4]:
# Select Independent and Dependent Features
X = df.drop(columns=['Survived'])
y = df['Survived']

# Perform Train Test Split
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2, random_state=40)
X_train.sample(5)

      Age  Pclass    Fare
497   NaN       3  15.100
265  36.0       2  10.500
372  19.0       3   8.050
764  16.0       3   7.775
81   29.0       3   9.500

### Apply KNN Imputer

In [5]:
knn = KNNImputer(n_neighbors=3,weights='distance')

X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [6]:
# Test a Logistic Regression Model on the transformed dataset

lr = LogisticRegression()

lr.fit(X_train_trf,y_train)

y_pred = lr.predict(X_test_trf)

accuracy_score(y_test,y_pred)

0.6927374301675978

In [7]:
# Comparision with Simple Imputer --> mean

si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [8]:
lr = LogisticRegression()

lr.fit(X_train_trf2,y_train)

y_pred2 = lr.predict(X_test_trf2)

accuracy_score(y_test,y_pred2)

0.6871508379888268